
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.filter {
    margin-bottom: 20px;
}

.products {
    display: flex;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 180px;
    text-align: center;
}

.product img {
    width: 100%;
}

.hidden {
    display: none;
}

canvas {
    display: block;
    margin: auto;
    background-color: #dfb5df;
    
    
}

