@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Xanh+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(254, 220, 255);
    text-align: center;
    margin: auto;
}

header{
  text-align: center;
 
  color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 144px;
  padding-top: 20px;
  padding-bottom: 15px;  
}

.newsletter {
  background: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
  letter-spacing: 2px;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 50px;
  font-size: 44px;
  font-family: "Playfair Display";
}

.newsletter h2 {
  margin-bottom: 20px;
  font-family: "Climate Crisis";
  font-size: 60px;
  letter-spacing: 2px;
}

.newsletter input{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Playfair Display";
  color:rgb(21, 8, 139);
}

.newsletter button {
  margin-top: 21px;
  padding:10px;
  border-radius: 21px;
  border: none;
  background: rgb(254, 220, 255);
  color:rgb(21, 8, 139);
  cursor: pointer;
  font-family: "Climate Crisis";
  font-size: 30px;
}