@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Xanh+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.icon{
  padding-top: 50px;
  display:inline-block;
  background-color: rgb(254, 220, 255);
  size: 50px;;
}

hr.new1{

  border: 2px solid rgb(21, 8, 139);
  margin:0;
  padding:0;
  
}

hr.new2{

  border: 12px solid rgb(21, 8, 139);
  margin:0;
  padding:0;
  
}

header{
  text-align: center;
 
  color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 144px;
  padding-top: 20px;
  padding-bottom: 15px;  
}

.headerftr{
  text-align: center;
 
  color:rgb(21, 8, 139);
  
  font-size: 144px;
  padding-top: 20px;
  padding-bottom: 15px;  
}


footer {  
  background-color: rgb(254, 220, 255);
  border: 5px solid rgb(254, 220, 255);
  padding: 5px;
  text-align: center;
  
  color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 30px;
  padding-top: 10px;
  
}

/* Style links in contact */
a.cont{
  color: rgb(21, 8, 139);
  background-color: rgb(254, 220, 255);
  
}

a.cont:hover{
  background-color: rgb(254, 220, 255);
  
   color: rgb(218, 14, 17);
}


ul.topnav {
  text-align: center;
  display: flow-root;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: rgb(254, 220, 255);
  font-family: "Oxanium";
  font-size: 15px;
}

/* Style links in topnav */
ul.topnav li a {
  text-align: center;
  display: flow-root;
  color: rgb(21, 8, 139);
  padding: 20px;
  text-decoration: none;
  font-family: "Oxanium";
  font-size: 15px;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
}



.dropbtn {
  background-color: rgb(254, 220, 255);
  color: rgb(21, 8, 139);
  padding: 20px;
  font-size: 15px;
  border: none;
  text-align: center;
  cursor:default;  
}

.dropdown {
  text-align: center;
  position: relative;
  display: flow-root;
  
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(254, 220, 255);
  min-width: 160px;
  z-index: 1;
  left: 55%;
  transform: translateX(-55%);
  position: absolute;
  
}

.dropdown-content a {
  text-align: center;
  color: rgb(21, 8, 139);
  padding: 20px;
  text-decoration: none;
  display: flexbox;
}

.dropdown-content a:hover 
{
  text-align: center;
  
  background-color: rgb(254, 220, 255); /*bg hover menu*/
}

.dropdown:hover .dropdown-content {
  
  display:ruby;
  text-align: center;
}

div.mycontainer {
  width:100%;
  overflow:auto;
  padding-left:50px;
  
}

div.mycontainer div {
  width:33.33%;  
  float:left;
  
  font-size: 20px;
  align-items: center;
}

#navbar {  
  text-align: center;
  overflow: hidden;
  background-color: rgb(254, 220, 255);
  padding: 15px ;
  transition: 0.2s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50; 
}

@media screen and (max-width: 200px) {
  #navbar {
    padding: 20px 10px !important;
  }
}

div.container {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  width: 25%;
  margin:auto;
  background-color: rgb(254, 220, 255);
}


.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 5px solid rgb(21, 8, 139);
  background-color: rgb(254, 220, 255);
  width: 100%;
  height: 550px;
  object-fit: cover;
  
}

.middle {
  color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 100px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.thumbnail{
  
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.08s;
  transition-duration: 0.08s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease-in-out;
}
.thumbnail:hover {
    transform: scale(1.03);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}




.column {
  flex: 33.33%;
  padding: 5px;
}

/* to do: check list teams; */

.textbg-header{
  font-size: 121px;
  font-family: "Climate Crisis";
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color:rgb(21, 8, 139);
  text-align: center;
}

.textbg-body{
  font-size: 50px;
  font-family: "Climate Crisis";
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.background-text{
 
  letter-spacing: 7px;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-image: url(bgr.jpg);
  background-size: 120%;
  
  animation: bg-animation 30s cubic-bezier(0.3,0,0.7,1) infinite;
}

@keyframes bg-animation {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}
.textbox{
  background-color: rgba(255, 255, 255, 0.712);
  color:rgb(21, 8, 139);
  font-size: 80px;
  margin:0%;
}

.centeredftr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:rgb(21, 8, 139);
  
  
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}



section {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.input-wrapper {
    width: 400px;
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 20px 50px 10px 10px;
    border-radius: 10px;
    border: 1px solid rgba(39, 40, 41, 0.6);
    font-size: 1.1rem;
    outline: none;
}

.input-wrapper span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 10px;
    color: rgba(39, 40, 41, 0.6);
    pointer-events: none;
    transition: all 0.4s ease;
}

.input-wrapper button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 10px;
    border: none;
    background: none;
    font-size: 2rem;
    color: rgba(39, 40, 41, 0.6);
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-wrapper input:focus, 
.input-wrapper input:valid {
    outline: 2px solid rgba(101, 40, 247, 0.6);
}

.input-wrapper input:focus ~ span,
.input-wrapper input:valid ~ span,
.input-wrapper input:not(:placeholder-shown) ~ span {
    transform: translateY(-33px);
    font-size: 0.8rem;
    color: rgba(101, 40, 247, 0.6);
}

.input-wrapper input:focus ~ button,
.input-wrapper input:valid ~ button {
    color: rgba(101, 40, 247, 0.6);
}

#ballet{
  font-family: "Ballet";
}
#climate{
  font-family: "Climate Crisis";
}



.grid{
   background-color: rgb(254, 220, 255);
  padding: 50px;
   display: grid;
    grid-template-columns:repeat auto auto auto;
    grid-template-areas:
        "c1 c2 c3";
    padding:10px;
}

#maps{
  align-items: center;
  grid-area: c1;
  font-size: 20px;
  font-family: "Climate Crisis";
  overflow: hidden;
}

.newsletter {
  background: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
  letter-spacing: 2px;
  max-width: 450px;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  grid-area: c2;
  font-size: 20px;
  font-family: "Playfair Display";
}

.newsletter h2 {
  margin-bottom: 20px;
  font-family: "Climate Crisis";
  font-size: 44px;
}

.checkboxes {
  text-align: left;
  margin-bottom: 15px;
}

.checkboxes label {
  display: block;
  margin-bottom: 6px;
}

.newsletter input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Playfair Display";
  color:rgb(21, 8, 139);
}

.newsletter button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: rgb(254, 220, 255);
  color:rgb(21, 8, 139);
  cursor: pointer;
  font-family: "Playfair Display";
}


#contactinfo{
  align-items: center;
  grid-area: c3;
  font-size: 20px;
  font-family: "Climate Crisis";
  background-color: rgb(254, 220, 255)
}

#xahnmono{
  font-family: "Playfair Display";
}


#submitbtn{
  border-radius: 3px;
  border: 5px solid rgb(21, 8, 139);
  width:50%;
  background-color: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
}

#emailbtn{
  border-radius: 2px;
  border: 10px solid rgb(255, 255, 255);
 
  background-color: rgb(255, 255, 255);
  color: rgb(21, 8, 139);
}

#emailbtn:hover{
  border: 10px solid rgb(21, 8, 139);
  transition: ease-in-out;
  background-color: rgb(255, 255, 255);
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.body-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 80vh;
    background-color: rgb(254, 220, 255);
  }

  .carousel {
    width: 100%;
    height:78vh;
    overflow: hidden;
    position: relative;
  }

  .carousel-slide {
    display: flex;
    width: 1000%; 
    animation: carousel-animation 20s infinite alternate; 
  }

  .carousel-slide img {
    width: calc(100% / 10); 
    height: 100%;
    object-fit: cover;
  }

  @keyframes carousel-animation {
   
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-10%);
    }
    30% {
      transform: translateX(-20%);
    }
    40% {
      transform: translateX(-30%);
    }
    50% {
      transform: translateX(-40%);
    }
    60% {
      transform: translateX(-50%);
    }
    70% {
      transform: translateX(-60%);
    }
    80% {
      transform: translateX(-70%);
    }
    90% {
      transform: translateX(-80%);
    }
    100% {
      transform: translateX(-90%);
    }
    
  }

  .h{
    background-color: rgb(254, 220, 255); text-align: center; color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 88px;
  
  }

  .hdr{
     background-color: rgb(254, 220, 255); text-align: center; color:rgb(21, 8, 139);
  font-family: "Climate Crisis";
  font-size: 88px;
  }

  div.scroll-container {
  background-color: rgb(254, 220, 255);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
.collapsible {
  background-color: rgb(255, 255, 255);
  color: rgb(21, 8, 139);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 35px;
  font-family: "Climate Crisis";
}

.active, .collapsible:hover {
  background-color: rgb(21, 8, 139);
  color:rgb(254, 220, 255);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  font-size: 25px;
  font-family: "Xahn Mono";
}

.filtru {
  max-width: 400px;
  margin-bottom: 40px;
}



#price-slider {
  margin: 20px 0;
}

.valori {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#produse {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.card {
  border: 1px solid #eee;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}


#jewelry {
  width: 500px;        
  min-height: 450px;    
  padding: 30px;
  background: white;
  border-radius: 16px;
  border: 3px solid #d4af37; 
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  margin: 40px auto;
  text-align: center;
  font-family: "Playfair Display";
  color: rgb(21, 8, 139);
  background-color: rgb(254, 220, 255);
}

#jewelry h1{
  font-family: "Ballet";
  font-size: 50px;
}


#jewelImg {
  width: 220px;
  height: auto;
  transition: transform 0.3s;
  margin-top: 20px; 
}

#jewelry:hover #jewelImg {
  transform: scale(1.1);
}

.bgacc {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(254, 220, 255);  
}

.acc-toggle {
  font-size: 28px;
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
  font-family: "Climate Crisis";
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.acc-toggle:hover{
  color: rgb(197, 161, 1);
}


.bgmenu {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(254, 220, 255);
  color: rgb(21, 8, 139);
}

/* Buton mare MENU */
.menu-toggle {
  font-size: 28px;
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
  font-family: "Climate Crisis";
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
}

.menu-toggle:hover {
 
  color: rgb(197, 161, 1);
}

/* ===== MENIU PRINCIPAL ===== */
.menu {
  margin-top: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.menu.show {
  display: flex;
}

/* ===== ITEM MENIU = BOX ===== */
.menu a,
.dropdown-toggle {
  padding: 12px 28px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: rgb(254, 220, 255);
  border-radius: 30px;
  font-size:20px;
  text-decoration: none;
  color: rgb(21, 8, 139);
  background: rgb(254, 220, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Playfair Display";
}

/* HOVER – INVERSARE CULORI */
.menu a:hover,
.dropdown-toggle:hover {
  background: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
}

/* ===== DROPDOWN CONTAINER ===== */
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== SUBMENIU ORIZONTAL ===== */
.submenu {
  display: none;
  margin-top: 30px;
  gap: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

/* activ */
.submenu.show {
  display: flex;
}

/* ===== SUBMENU ITEMS ===== */
.submenu a {
  padding: 10px 20px;
  
  border-radius: 22px;
  
  font-size: 16px;
  text-decoration: none;
  background-color: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
  transition: all 0.3s ease;
}

/* hover submenu */
.submenu a:hover {
  color: rgb(21, 8, 139);
  background-color: rgb(254, 220, 255);
}


.bg{
  background: rgb(254, 220, 255);
  
}

#bodyhomepic {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(254, 220, 255);
  font-family: "Ballet";
}

/* Container poze */
.gallery {
  display: flex;
  gap: 40px; /* spațiu între poze */
}

/* Link */
.image-link {
  text-decoration: none;
}

/* Container imagine */
.image-container {
  position: relative;
  width: 380px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

/* Imagine */
.image-container img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(254, 220, 255,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Text */
.overlay span {
  font-size: 60px;
  color: rgb(21, 8, 139);
  letter-spacing: 2px;
}

/* Hover */
.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover img {
  transform: scale(1.05);
}

.copyright{
  font-size: 15px;
  color: rgb(21, 8, 139);
  background-color: rgb(254, 220, 255);
  font-family: "Playfair Display";
}


