@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Xanh+Mono:ital@0;1&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.icon{
  padding-top: 50px;
  display:inline-block;
  background-color: rgb(254, 220, 255);
  size: 50px;;
}

hr.new1{

  border: 2px solid rgb(21, 8, 139);
  margin:0;
  padding:0;
  
}

header{
  text-align: center;
  background-color: rgb(254, 220, 255);
  color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 121px;
  padding-top: 15px;
  padding-bottom: 5px;  
}

footer {  
  background-color: rgb(254, 220, 255);
  border: 5px solid rgb(254, 220, 255);
  padding: 5px;
  text-align: center;
  
  color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 30px;
  padding-top: 10px;
  
}

/* Style links in contact */
a.cont{
  color: rgb(21, 8, 139);
  background-color: rgb(254, 220, 255);
  font-style: italic;
}

a.cont:hover{
  background-color: rgb(254, 220, 255);
  font-style: italic;
   color: rgb(218, 14, 17);
}


ul.topnav {
  text-align: center;
  display: flow-root;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: rgb(254, 220, 255);
  font-family: "Oxanium";
  font-size: 15px;
}

/* Style links in topnav */
ul.topnav li a {
  text-align: center;
  display: flow-root;
  color: rgb(21, 8, 139);
  padding: 20px;
  text-decoration: none;
  font-family: "Oxanium";
  font-size: 15px;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: rgb(21, 8, 139);
  color: rgb(254, 220, 255);
}



.dropbtn {
  background-color: rgb(254, 220, 255);
  color: rgb(21, 8, 139);
  padding: 20px;
  font-size: 15px;
  border: none;
  text-align: center;
  cursor:default;  
}

.dropdown {
  text-align: center;
  position: relative;
  display: flow-root;
  
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(254, 220, 255);
  min-width: 160px;
  z-index: 1;
  left: 55%;
  transform: translateX(-55%);
  position: absolute;
  
}

.dropdown-content a {
  text-align: center;
  color: rgb(21, 8, 139);
  padding: 20px;
  text-decoration: none;
  display: flexbox;
}

.dropdown-content a:hover 
{
  text-align: center;
  
  background-color: rgb(254, 220, 255); /*bg hover menu*/
}

.dropdown:hover .dropdown-content {
  
  display:ruby;
  text-align: center;
}

div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:50%;  
  float:left;
  font-family: "Oxanium";
  font-size: 20px;
  text-align: left;
}

#navbar {  
  text-align: center;
  overflow: hidden;
  background-color: rgb(254, 220, 255);
  padding: 15px ;
  transition: 0.2s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50; 
}

@media screen and (max-width: 200px) {
  #navbar {
    padding: 20px 10px !important;
  }
}

div.container {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  width: 50%;
  margin:auto;
  background-color: rgb(254, 220, 255);
}


.image {
  opacity: 1;
  display: block;
  width: 20%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 5px solid rgb(21, 8, 139);
  background-color: rgb(254, 220, 255)
  
}

.middle {
  color:rgb(21, 8, 139);
  font-family: "Ballet";
  font-size: 100px;;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}



.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

